<div class="view col-md-8 col-md-offset-4">
  <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
  <label><%= title %></label>
  <a class="destroy label label-danger" title="Delete" href="#">x</a>
</div>

<div class="form-group col-md-4 col-md-offset-4">
  <input class="edit form-control" value="<%= title %>">
</div>